body{
    background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.row {
    margin: auto;
    margin-top: 20px;
  }


.card{
    background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.card-text{
    color: Green;
    font-weight: bold;
    font-size: 20px;
}

.card-title{
    color: black;
    font-weight: bold;
}
.img-container{
    padding-bottom:100%; overflow:hidden; position:relative;
    margin: 5px 5px 5px 5px;
}
.img-center {
    position: absolute;
    text-align: center; 
    border-radius: 8px;
    height: auto;
    width: 500px;
    background-color: rgba(237, 237, 237, 0.699);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}