body{
    background: #360033;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.navbar {
    backdrop-filter: blur(10px)
}
.row {
    margin: auto;
    margin-top: 20px;
  }


.card{
    background: #83a4d4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 9px;

}
.card-text{
    color: Green;
    font-weight: bold;
    font-size: 20px;
}

.card-title{
    color: black;
    font-weight: bold;
}
.img-container{
    padding-bottom:100%; overflow:hidden; position:relative;
    margin: 8px 8px 8px 8px;
}
.img-center {
    position: absolute;
    text-align: center; 
    border-radius: 8px;
    height: auto;
    width: 500px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}