{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="WebShop Django" content="">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  <title>Shop Page</title>
<link rel="stylesheet" href="{% static 'shop/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row"> 
            <div class="col-md-12">
                <form class="card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col">
                            <input type="search" name='item_name' placeholder="Search for products" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit"> Search </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-4">
                <div class="card">
                    <div class="img-container">
                        <img src="{{ product.image }}" class="img-fluid img-center">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                         {{ product.title }}
                        </div>
                        <div class="card-text">
                        {{ product.price }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>